
openapi: "3.0.0"
info:
  description: "Interpol Red Notices Website API"
  version: "1.0.0"
  title: "Interpol: Interpol Red Notices API"

servers:
  - url: "https://ws-public.interpol.int/"

paths:
  /notices/v1/red:
    get:
      summary: Get Red Notices
      responses:
        '200':
            description: OK
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/RedNotices'
      parameters:
        - in: query
          required: false
          name: forename
          schema:
            type: string
          description: "First name"
          example: "DANIELA"
        
        - in: query
          required: false
          name: name
          schema:
            type: string
          description: "Last name"
          example: "Klette"
          
        - in: query
          required: false
          name: nationality
          schema:
            type: string
          description: "Two digit country code"
          example: "DE"
        
        - in: query
          required: false
          name: ageMax
          schema:
            type: integer
          description: "maximum age"
          example: 120
        
        - in: query
          required: false
          name: ageMin
          schema:
            type: integer
          description: "minimum age"
          example: 18
          
        - in: query
          required: false
          name: freeText
          schema:
            type: string
          description: "Free text query"
          example: "Rote"
          
        - in: query
          required: false
          name: sexId
          schema:
            type: string
            enum: ["", "F", "M", "U"]
          description: "Free text query"
          example: "F"
          
        - in: query
          required: false
          name: arrestWarrantCountryId
          schema:
            type: string
          description: "Two digit country code"
          example: "DE"
          
        - in: query
          required: false
          name: page
          schema:
            type: integer
          description: "pagination - starts with 1"
          example: 1
          
        - in: query
          required: false
          name: resultPerPage
          schema:
            type: integer
          description: "resultPerPage"
          example: 200

          
components: 
    schemas:
      RedNotices:
        type: object
        properties:
          total: 
            type: integer
            format: int32
            example: 0
          query: 
            type: object
            properties: 
              page: 
                type: integer
                format: int32
                example: 1
              resultPerPage: 
                type: integer
                format: int32
                example: 160
              name: 
                type: string
                example: Klette
              forename: 
                type: string
                example: DANIELA
              nationality: 
                type: string
                example: DE
              freeText: 
                type: string
                example: Rote
              ageMin: 
                type: integer
                format: int32
                example: 18
              ageMax: 
                type: integer
                format: int32
                example: 120
              sexId: 
                type: string
                example: F
              arrestWarrantCountryId: 
                type: string
                example: DE
          _embedded: 
            type: object
            properties: 
              notices: 
                type: array
                items: 
                  type: string
          _links: 
            type: object
            properties: 
              self: 
                type: object
                properties: 
                  href: 
                    type: string
                    example: https://ws-public.interpol.int/notices/v1/red?name=Klette&forename=DANIELA&nationality=DE&freeText=Rote&ageMin=18&ageMax=120&sexId=F&arrestWarrantCountryId=DE&resultPerPage=160&page=1
              first: 
                type: object
                properties: 
                  href: 
                    type: string
                    example: https://ws-public.interpol.int/notices/v1/red?name=Klette&forename=DANIELA&nationality=DE&freeText=Rote&ageMin=18&ageMax=120&sexId=F&arrestWarrantCountryId=DE&resultPerPage=160&page=1
              last: 
                type: object
                properties: 
                  href: 
                    type: string
                    example: https://ws-public.interpol.int/notices/v1/red?name=Klette&forename=DANIELA&nationality=DE&freeText=Rote&ageMin=18&ageMax=120&sexId=F&arrestWarrantCountryId=DE&resultPerPage=160&page=1
